/* Colors are specified externally via Nix */

* {
  all: unset;
  min-height: 28px;
  font-family: JetBrainsMono Nerd Font Propo;
}

window#waybar {
  min-height: 28px;

  border: none;
  border-radius: 0;

  background: transparent;
  color: @text;
}

#scratchpad, #mode, #idle_inhibitor, #pulseaudio, #network, #bluetooth, #cpu, #memory, #temperature, #keyboard_state, #language, #battery, #clock, #tray {
  background-color: @base;
  padding: 0 8px;
  margin: 0 4px;
  border-radius: 8px;
  min-width: 24px;
}

tooltip {
  background: @base;
  border: 2px solid @secondary;
  border-radius: 8px;
}

#workspaces {
  padding: 4px;
  margin-right: 4px;
  border-radius: 8px;
  background: @base;
}
#workspaces button {
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out, min-width 150ms ease-in-out;

  min-width: 32px;
  border-radius: 4px;
  
  margin-right: 4px;
}
#workspaces button:last-child {
  margin-right: 0;
}
#workspaces button:not(.focused) {
  color: @subtext0;
}
#workspaces button.focused {
  min-width: 48px;
  background: @primary;
  color: @base;
  font-weight: bold;
}
#workspaces button.urgent {
  color: @base;
  background: @red;
  font-weight: bold;
}

#mode {
  background: @red;
  color: @base;
  font-weight: bold;
}

#scratchpad {
  padding: 0 16px;
  border-radius: 8px;
  background: @secondary;
  color: @base;
}

#window {
  margin-left: 16px;
  text-shadow: 0px 0px 4px black;
}

#network {
  border-radius: 8px 0 0 8px;
  margin-right: 0;
  border-right: 1px solid @overlay0;
}
#bluetooth {
  border-radius: 0 8px 8px 0;
  margin-left: 0;
}

#cpu {
  margin-right: 0;
  border-radius: 8px 0 0 8px;
  padding-right: 12px;
}
#memory {
  margin: 0;
  padding: 0 12px;
  border-radius: 0;
  border: 1px solid @overlay0;
  border-top: none;
  border-bottom: none;
}
#temperature {
  padding-left: 12px;
  margin-left: 0;
  border-radius: 0 8px 8px 0;
}
#temperature.critical {
  background: @red;
  font-weight: bold;
}

#language {
  min-width: 48px;
}

#battery.Charging {
  background: @green;
  font-weight: bold;
}
#battery.warning {
  background: @yellow;
  font-weight: bold;
}
#battery.critical {
  background: @red;
  font-weight: bold;
}

#tray menu {
  background: @base;
  border: 2px solid @secondary;
  border-radius: 8px;
}
#tray menu > * {
  padding: 0 16px;
}
#tray menu > :hover {
  background: @secondary;
  color: @base;
  font-weight: bold;
}
/* Round the corners for first and last item in the menu, so that it won't visually overflow the menu window */
#tray menu > :first-child:hover {
  border-radius: 8px 8px 0 0;
}
#tray menu > :last-child:hover {
  border-radius: 0 0 8px 8px;
}
