* {
  all: unset;
  min-height: 28px;
  font-family: JetBrainsMono Nerd Font Propo;
}

window#waybar {
  min-height: 28px;

  border: none;
  border-radius: 0;

  background: transparent;
  color: #fbf1c7;
}

#scratchpad, #mode, #idle_inhibitor, #pulseaudio, #network, #bluetooth, #cpu, #memory, #temperature, #keyboard_state, #language, #battery, #clock, #tray {
  background-color: #282828;
  padding: 0 8px;
  margin: 0 4px;
  border-radius: 8px;
}

tooltip {
  background: #282828;
  border: 2px solid #d79921;
  border-radius: 8px;
}

#workspaces {
  padding: 4px;
  margin-right: 4px;
  border-radius: 8px;
  background: #282828;
}
#workspaces button {
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out, min-width 150ms ease-in-out;

  min-width: 32px;
  border-radius: 4px;
  
  margin-right: 4px;
}
#workspaces button:last-child {
  margin-right: 0;
}
#workspaces button:not(.focused) {
  color: #928374;
}
#workspaces button.focused {
  min-width: 48px;
  background: #d79921;
  color: #282828;
  font-weight: bold;
}
#workspaces button.urgent {
  color: #fbf1c7;
  background: #cc241d;
  font-weight: bold;
}

#mode {
  background: #cc241d;
  color: #fbf1c7;
  font-weight: bold;
}

#scratchpad {
  padding: 0 16px;
  border-radius: 8px;
  background: #d65d0e;
}

#window {
  margin-left: 16px;
  text-shadow: 0px 0px 4px black;
}

#network {
  border-radius: 8px 0 0 8px;
  margin-right: 0;
  border-right: 1px solid #504945;
}
#bluetooth {
  border-radius: 0 8px 8px 0;
  margin-left: 0;
}

#cpu {
  margin-right: 0;
  border-radius: 8px 0 0 8px;
  padding-right: 12px;
}
#memory {
  margin: 0;
  padding: 0 12px;
  border-radius: 0;
  border: 1px solid #504945;
  border-top: none;
  border-bottom: none;
}
#temperature {
  padding-left: 12px;
  margin-left: 0;
  border-radius: 0 8px 8px 0;
}
#temperature.critical {
  background: #cc241d;
  font-weight: bold;
}

#language {
  min-width: 48px;
}

#battery.Charging {
  background: #98971a;
  font-weight: bold;
}
#battery.warning {
  background: #d79921;
  font-weight: bold;
}
#battery.critical {
  background: #cc241d;
  font-weight: bold;
}

#tray menu {
  background: #282828;
  border: 2px solid #d79921;
  border-radius: 8px;
}
#tray menu > * {
  padding: 0 16px;
}
#tray menu > :hover {
  background: #d79921;
  color: #282828;
  font-weight: bold;
}
/* Round the corners for first and last item in the menu, so that it won't visually overflow the menu window */
#tray menu > :first-child:hover {
  border-radius: 8px 8px 0 0;
}
#tray menu > :last-child:hover {
  border-radius: 0 0 8px 8px;
}
