/* Colors are specified externally via Nix */


* {
  all: unset;
  min-height: 32px;
}

window#waybar {
  min-height: 32px;

  border: none;

  background: @base01;
  color: @base05;
}

#scratchpad, #mode, #idle_inhibitor, #pulseaudio, #network, #bluetooth, #cpu, #memory, #temperature, #keyboard_state, #language, #battery, #clock, #tray {
  padding: 0 8px;
  margin: 0 2px;
  min-width: 24px;
}

tooltip {
  background: @base01;
  border: 3px solid @base07;
}

#workspaces {
  margin-right: 4px;
}
#workspaces button {
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out, min-width 150ms ease-in-out;

  min-width: 32px;
}
#workspaces button:not(.focused) {
  color: @base05;
}
#workspaces button.focused {
  min-width: 48px;
  background: @base0E;
  color: @base00;
  font-weight: bold;
}
#workspaces button.urgent {
  color: @base00;
  background: @base08;
  font-weight: bold;
}

#mode {
  /* Red */
  background: @base08;
  color: @base00;
  font-weight: bold;
}

#scratchpad {
  padding: 0 16px;
  background: @base07;
  color: @base00;
}

#window {
  margin-left: 16px;
  margin-right: 16px;
}

#cpu {
  min-width: 64px;
  padding-right: 12px;
}
#memory {
  min-width: 64px;
  padding: 0 12px;
}
#temperature {
  min-width: 64px;
}

#language {
  min-width: 64px;
}

#tray menu {
  background: @base00;
  border: 3px solid @base07;
}
#tray menu > * {
  padding: 0 16px;
}
#tray menu > :hover {
  background: @base07;
  color: @base00;
  font-weight: bold;
}
