window {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 16px;

  background: --wofi-color2;
  color: --wofi-color1;
}

/* Search bar */
#input {
  padding: 8px 16px;
  border-radius: 0;
  border: none;
  border-bottom: 4px solid --wofi-color0;

  color: --wofi-color2;
  background: --wofi-color0;
  font-weight: bold;
  box-shadow: none;
}
#input image {
  color: --wofi-color2;
  margin-right: 12px;
}

#inner-box {
  margin-top: 16px;
}

#entry {
  padding: 4px 16px;
}
#text {
  margin-left: 12px;
}
#img {
  margin-left: 8px;
}
#entry:selected {
  border-radius: 0;
  background: --wofi-color3;
  font-weight: bold;
}

expander#selected {
  color: --wofi-color2;
  background: transparent;
}
expander list {
  margin-top: 3px;
  padding: 4px;
  color: --wofi-color1;
  border-radius: 4px;
  background: --wofi-color2;
}
expander #entry {
  border-radius: 4px;
}
