/* Custom configuration for the firefox UI */

:root {
  --toolbarbutton-border-radius: 0px !important;
  --tab-border-radius: 0px !important;
  --urlbar-icon-border-radius: 0px !important;

  /* Those are injected by Nix */
  --primary-color: __PRIMARY_COLOR__;
  --secondary-color: __SECONDARY_COLOR__;
}

/* Tab bar */

#titlebar,
#TabsToolbar,
#TabsToolbar-customization-target {
  height: 32px !important;
}

.tabbrowser-tab {
  padding: 0 !important;
}

.tab-content {
  padding: 0 6px !important;
}

.tab-background {
  border-radius: 0 !important;
  margin-block: 0 !important;
  min-height: 32px !important;
}

/* Nav bar */
#nav-bar {
  height: 32px !important;
  background-color: transparent !important;
  border: none !important;
}

#urlbar-container {
  --urlbar-container-height: 32.00px !important;
}

#urlbar-input-container {
  padding: 0 !important;
}

#urlbar-background {
  border-radius: 0 !important;
}

/* Sidebery window */

#sidebar-header {
  font-size: 1em !important;
  padding: 3px !important;
}

#sidebar-splitter {
  width: 2px !important;
  background: var(--secondary-color) !important;
  border: none !important;
  border-left: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
}
